footer {
   background-color: black;
   border-top: 1px solid rgba(255, 255, 255, 0.468);
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}